{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/textarea-helper.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speech-recognizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakGenerator.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakClient.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakWorker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/popcorn.js"></script>
</head>
<body>
  <div id="audio"></div>
  <div id="main">
      <div id="content">
          <h1 id="about">Web Speech Example</h1>
          <div id="example-type">textarea with JavaScript Web Speech API</div>
          <div id="speech-content-elements">
              <textarea id="speech-page-content" name="pageContent"></textarea>
              <div class="speech-content-mic speech-mic"></div>
          </div>
      </div>
      <div id="youtube"></div>
  </div>
</body>
</html>