{% load staticfiles %}

<html>
<head>
	<title>JARVIS</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speech-recognizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakGenerator.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakClient.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakWorker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/popcorn-complete.min.js"></script>
</head>
<body>
  <div id="audio"></div>
  <div id="main">
      <div id="content">
          <h1 id="about">Jarvis</h1>
          <div id="example-type">By Calvin and Evan</div>
          <div id="speech-content-elements">
              <textarea id="speech-page-content" name="pageContent"></textarea>
          </div>
      </div>
      <div id="youtube" style="width:600px;height:400px"></div>
  </div>
</body>
</html>