{% load staticfiles %}

<html>
<head>
	<title>JARVIS</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speech-recognizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakGenerator.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/speakClient.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/popcorn-complete.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#instructions').slideUp();
			$('#instructionsButton').click(function(event) {
				$('#instructions').slideToggle();
			});
		});
	</script>
</head>
<body>
	<div id="audio"></div>
	<div id="main">
		<div id="content">
			<h1 id="about">Jarvis</h1>
			<div id="example-type">By Calvin and Evan | <button id="instructionsButton" class='btn btn-primary btn-mini'>Instructions</button></div>
			<div id="speech-content-elements">
				<textarea id="speech-input-content" readonly="readonly"></textarea>
				<textarea id="speech-page-content" readonly="readonly"></textarea>
			</div>
			<div id="instructions">
				<article>
					<h1>JARVIS</h1>
					<p>Stands for Just A Really Very Intelligent System. Uses webkit speech interpretation and natural language processing to execute voice commands.</p>
					<p>Jarvis only responds to commands prefaced with "jarvis".</p>
					<h2>Currently implemenented commands:</h2>
					<ul>
						<li>weather: gives the temperature and weather state.</li>
						<li>temperature: gives the current temperature, with a high and low for today.</li>
						<li>wind: gives the current wind speed, with a direction heading</li>
						<li>play (parameters): searches youtube using the parameters you've given it and plays the first video returned from the search</li>
						<li>pause: if there's a video playing, this command pauses it.</li>
						<li>resume: if there's a video that's been paused, this command resumes it.</li>
						<li>volume (arg): sets the volume to whatever you specify, as a percentage.</li>
						<li>time: gives the time on your machine</li>
						<li>ask (question): returns what Wolfram|Alpha returns for your question.</li>
					</ul>
					<p>All of these commands have aliases and natural language processing is built in, so you can say "jarvis, what is the weather like?" or "jarvis, how's the weather", and on and on.</p>
  				</article>
  			</div>
			<div id="youtube" style="width:600px;height:400px"></div>
			<div id="logo">
				<a href="http://coshx.com" title="A project by Cosxh Labs">
					<img alt="coshx logo" src="{{ STATIC_URL }}img/coshx-new-logo.png" />
				</a>
			</div>
		</div>
	</div>
</body>
</html>